{% extends 'admin_nav.html' %}
{% load static %}
{% block body %}
 

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">



<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>



<script>
$(document).ready(function() {
    $('#example').DataTable(); 
} );
</script> 

<div class="container mt-5">
    <h2 class="text-center">ASSIGN STATUS</h2>
      <HR>
<form method="post">
    {% csrf_token %}
    <label>Notes ID</label>
    <input type = "text" name="notesid" class="form-control" value="{{notes.id}}" readonly>

    <label>Status</label>
    <select name="status" class="form-control">
        <option value="Accept">Accept</option>
        <option value="Reject">Reject</option>
    </select>
    <br>
    <input type="submit" value="submit" class="btn btn-primary form-control">
</form>
</div>

{% if error == "no" %}
<script>
    alert('Status Updated Successfully');
    window.loaction=('{% url 'all_notes' %}');
</script>

{% endif%}

{% if error == "yes" %} 
<script>
    alert('Something went wrong, Try Again');
</script>

{% endif %}

{% endblock %}