{% extends 'usernavigation.html' %}
{% load static %}
{% block body %}

<div class="container mt-5">
    <h2 class="text-center">EDIT PROFILE</h2>
    <hr>
    
    <DIV class="row">
        <div class="col-sm-6">
        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>FirstName</label>
                    <input type="text" class="form-control" value="{{data.user.first_name}}" name="firstname">
                </div>
                <div class="form-group col-md-6">
                    <label>LastName</label>
                    <input type="text" class="form-control" value="{{data.user.last_name}}" name="lastname">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Email ID</label>
                    <input type="text" class="form-control" value="{{data.user.username}}" name="emailid" readonly>
                </div>
                
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Contact</label>
                    <input type="text" class="form-control" value="{{data.contact}}" name="contact" >
                </div>
                
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Branch</label>
                    <select class="form-control"  name="branch" >
                        
                        <option value="Computer Science">Computer Science</option>
                  <option value="Information Technology">Information Technology</option>
                  <option value="Electronics">Electronics</option>
                  <option value="Civil">Civil</option>
                  <option value="Electrical">Electrical</option>

                    </select>
                </div>

                <div class="form-group col-md-6 mt-2">
                  
                    <input type="text" value="{{data.branch}}" class="form-control" readonly>
                </div>
                
            </div>

<input type="submit" value="update" class="btn btn-primary mt-3">
        </form>
        </div>
 
    </DIV>
    

</div>

{% if error %}
<script>
    alert('Profile Updated Successfully');
    window.loaction = "{% url 'profile' %}";
</script>
{% endif %}


{% endblock %}